<h1>Confucius Say:</h1>
<%= link_to('Logout', destroy_user_session_path, :method => :delete ) %>
<ul>
    <% if !current_user.try(:admin?) %>
  <li>
    <%= link_to "Ask Confucius", "#", class: "btn btn-success btn-xs start-chat", "data-sid" => current_user.id, "data-rip" => User.find(4) %>
  </li>
    <% end %>
    <% if current_user.try(:admin?) %>
  <li>
    <%= link_to "Chat with a member", users_path %>
  </li>
    <% end %>
</ul>
